@import url("style.css");

.container{
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 20px;
    -fx-background-color: -fx-background-main;
}

.button {
   -fx-cursor: hand;
   -fx-background-radius: 8px;
   -fx-border-radius: 8px;
   -fx-border-width: 2px;
   -fx-font-weight: bold;

   -fx-pref-width: 200px;
   -fx-font-size: 12pt;
   -fx-padding: 12px 24px;

   -fx-background-color: -fx-accent-primary;
   -fx-border-color: -fx-accent-secondary;
   -fx-text-fill: -fx-text-inverted;

   -fx-transition: -fx-background-color -fx-animation-speed,
                   -fx-scale-x -fx-animation-speed,
                   -fx-scale-y -fx-animation-speed;
}

.button:hover {
   -fx-background-color: -fx-accent-secondary;
   -fx-scale-x: 1.1;
   -fx-scale-y: 1.1;
}

.boldLabel {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.languageSelector{
    -fx-padding: 5px 10px 5px 10px;
    -fx-alignment: center;
}

.rootPane{
    -fx-background-color: -fx-background-main;
}

.canvas{
    -fx-background-color: white;
    -fx-border-color: -fx-accent-secondary;
    -fx-border-width: 2px 0 2px 0;
}

.messageLabel {
    -fx-text-fill: -fx-warning-text;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: -fx-warning-fill;
    -fx-border-color: -fx-warning-text;
}