.accordion {
    max-width: 800px;
    margin: 20px;
    border: 1px solid #e1e5e9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.accordion-item {
    border-bottom: 1px solid #e1e5e9;
    transition: background-color 0.2s ease;
}

.accordion-item.open .accordion-icon {
    transform: rotate(90deg);
    color: #1976d2;
}

.accordion-item.open .accordion-content {
    max-height: 1000px;
    transition: max-height 0.8s ease-in-out;
    background-color: #f6f8fa;
}

.accordion-item.open .accordion-content:hover {
    background-color: #f8fdff;
}

.accordion-item.open .accordion-header {
    background-color: #ecf5fa;
}

.accordion-item.open .accordion-header:hover {
    background-color: #e1f0f6;
}

.accordion-header {
    padding: 20px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    transition: all 0.3s ease;
}

.accordion-header:hover {
    background-color: #ecf5fa;
}

.accordion-title {
    font-size: 18px;
    font-weight: 600;
    color: #2c3e50;
    margin: 0;
}

.accordion-icon {
    font-size: 14px;
    transition: transform 0.1s ease-in-out , color 0.2s ease;
    color: #666;
    margin-right: 50px;
}

.accordion-item.open .accordion-icon {
    transition: transform 0.5s ease-out , color 0.2s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s ease-out;
    background-color: #fff;
    padding: 0;
}

.accordion-content p {
    padding: 10px;
}